VERSION=2.2.5
EDITION=community

INSTALL_DB=true
DB_HOST=localhost
MYSQL_DATABASE=mage2_db
MYSQL_USER=root
MYSQL_PASSWORD=root

BASE_URL=http://mage.demo/
SECURE_BASE_URL=http://mage.demo/
BACKEND_FRONTNAME=admin
FIRSTNAME=firstname
LASTNAME=lastname
EMAIL=dummy@gmail.com
USER=admin
PASSWORD=admin@123
